.end-container {
    margin-top: 250px;
    margin-left: 820px;
    filter: brightness(0) saturate(100%) invert(73%) sepia(34%) saturate(208%) hue-rotate(188deg) brightness(94%) contrast(86%);
    transition: filter 0.1s ease;
    cursor: pointer;
}

.end-container:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
}

.end-container {
    font-family: "Red Hat Mono";
    font-size: 8px;
}

#github-watch {
    width: 25px;
    height: 25px;
    margin-left: 30px;
}

#github-fork {
    width: 20px;
    height: 20px;
    margin-left: 30px;    
}

#watching {
    position: absolute;
    margin-left: 65px;
    margin-top: -22px;
}

#forks {
    position: absolute;
    margin-left: 120px;
    margin-top: -22px;    
}

#icons {
    margin-left: 15px;
    padding-bottom: 20px;
}

.end-container a {
    text-decoration: none;
}