@import url(https://db.onlinewebfonts.com/c/a5c0262230ab76f7f7eef2977b44d554?family=Halifax+W03+Bold);

#left-line-img {
  position: fixed;
  bottom: -50px;
  left: 0;
  margin-left: 80px;
}

#right-line-img {
  position: fixed;
  bottom: -50px;
  left: 0;
  margin-left: 1840px;
}

#right-email {
  position: fixed;
  bottom: 220px;
  left: 1545px;
  margin-left: 202px;
  transform: rotate(-270deg);
  font-size: 17px;
  font-family: "Red Hat Mono";
  color: #4D5969;
  transition: color 0.1s, margin-bottom 0.3s ease;
}

#right-email:hover {
  color: #8E8F65;
  margin-bottom: 20px;
}


#github-img {
  position: fixed;
  bottom: 140px;
  left: 0;
  margin-left: 57px;
  width: 45px;
  height: 45px;
  transition: filter 0.1s ease;
  transition: transform 0.3s ease;
}

#github-img:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
  transform: translateY(-3px);
}

#instagram-img {
  position: fixed;
  bottom: 200px;
  left: 0;
  margin-left: 61px;
  width: 40px;
  height: 40px;
  transition: filter 0.1s ease;
  transition: transform 0.3s ease;
}

#instagram-img:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
  transform: translateY(-3px);
}

#discord-img {
  position: fixed;
  bottom: 260px;
  left: 0;
  margin-left: 61px;
  width: 40px;
  height: 40px;
  transition: filter 0.1s ease;
  transition: transform 0.3s ease;
}

#discord-img:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
  transform: translateY(-3px);
}

.topsection-text {
    margin-top: 350px;
}

.name-is {
    text-align: center;
    margin-top: 150px;
    margin-right: 1000px;
    font-family: "Red Hat Mono";
    font-size: 20px;
    color: #8E8F65;    
}

.blijonas-text {
    color: #ccd6f6;
    font-size: 80px;
    text-align: center;
    margin-top: -10px;
    margin-right: 865px;
    font-family: "Halifax W03 Bold";
}

.create-websites {
    color: #8892b0;
    font-size: 80px;
    text-align: center;
    margin-top: -70px;
    margin-right: 545px;
    font-family: "Halifax W03 Bold"; 
}

#character {
    width: 2072px;
    height: 2184px;
    transform: scale(0.3);
    margin-top: -1200px;
    margin-left: 400px;
    transition: all 0.3s ease;
}

#character:hover {
    transform: scale(0.33) rotate(4deg);
}

.scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: -700px;
    left: 0;
    margin: auto;
    
    width :34px;
    height: 55px;
  }
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #8E8F65;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #8E8F65;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }

@media only screen and (max-width: 599px) {
  .topsection-text {
    margin-top: 300px;
  }
  
  .name-is {
    width: 100%;
    margin-left: -110px;
  }

  .create-websites {
    width: 100%;
    font-size: 3rem;
    margin-left: -6px;
  }

  .scroller {
    opacity: 0;
  }

  .mousey {
    position: relative;
    margin-top: -100px;
  }
}