@import url(https://db.onlinewebfonts.com/c/a5c0262230ab76f7f7eef2977b44d554?family=Halifax+W03+Bold);
@import url(https://db.onlinewebfonts.com/c/45fa1b74a83ccbe9acee7e03ba719f43?family=Halifax+W03+Light);
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;1,300&display=swap');

.contact-container {
    margin-top: 600px;
    margin-left: 850px;    
}

#whats-next {
    font-family: "Red Hat Mono";
    color: #8E8F65;   
    font-size: 15px;
    
}

#get-in-touch {
    position: absolute;
    font-size: 50px;
    margin-left: -65px;
    margin-top: -5px;
    font-family: "Halifax W03 Bold";
    color: #ccd6f6;
}

#contact-text {
    font-family: "Halifax W03 Light";
    color: #8892b0;
    margin-top: 70px;
    margin-left: -120px;
}

.contact-container button {
    color: #8E8F65;
    background-color: transparent;
    border: 1px solid #8E8F65;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: "Red Hat Mono";
    line-height: 1;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.contact-container button:hover {
    transform: scale(1.2);
}