@import url(https://db.onlinewebfonts.com/c/a5c0262230ab76f7f7eef2977b44d554?family=Halifax+W03+Bold);
@import url(https://db.onlinewebfonts.com/c/45fa1b74a83ccbe9acee7e03ba719f43?family=Halifax+W03+Light);
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;1,300&display=swap');

.experience-container {
    display: flex;
    margin-top: 600px;
}

#exp-number {
    font-family: "Red Hat Mono";
    font-size: 20px;
    margin-top: 25px;
    margin-left: 480px;
    color: #8E8F65; 
}

#exp-text {
    font-family: "Halifax W03 Bold";
    margin-top: 15px;
    margin-left: 5px;
    color: #ccd6f6;
}

#exp-container-line {
    position: absolute;
    left: 720px;
    opacity: 30%;
    margin-top: 35px;
    margin-left: 160px;
}

#movie-finder-cont img {
    position: absolute;
    width: 579.16px;
    height: 362.38px;
    margin-top: 100px;
    margin-left: -365px;
    border-radius: 7px;
}

#movie-finder-img {
    position: absolute;
    width: 579.16px;
    height: 362.38px;
    margin-top: 100px;
    margin-left: -365px;
    border-radius: 7px;
    background-color: #8E8F65;    
    opacity: 30%;
    transition: opacity 0.2s ease;
}

#movie-finder-img:hover {
    opacity: 0;
}

#movie-finder-box {
    position: absolute;
    width: 495px;
    height: 122px;
    background-color: #3A5261;
    margin-top: 65px;
    margin-left: 100px;
    border-radius: 4px;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
}

#zoom-cont {
    transition: transform 0.6s ease;
}

#zoom-cont:hover {
    transform: scale(1.06);
}

#feat-project {
    font-family: "Red Hat Mono";
    font-size: 13px;
    color: #8E8F65;
    margin-left: 470px;
    margin-top: 150px;
}

#feat-movie-finder {
    position: absolute;
    font-family: "Halifax W03 Bold";
    font-size: 30px;
    color: #ccd6f6;
    margin-left: 415px;
    margin-top: -10px;
}

#github-movie-finder-a #github-movie-finder-img  {
    width: 30px;
    height: 30px;
    margin-left: 510px;
    margin-top: 180px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(11%) saturate(522%) hue-rotate(190deg) brightness(97%) contrast(100%);
    transition: filter 0.3s ease;
}

#redirect-movie-finder-a #redirect-movie-finder-img  {
    width: 30px;
    height: 30px;
    margin-left: 555px;
    margin-top: 180px;
    filter: brightness(0) saturate(100%) invert(85%) sepia(11%) saturate(522%) hue-rotate(190deg) brightness(97%) contrast(100%);
    transition: filter 0.3s ease;
}

#redirect-movie-finder-a:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
}

#github-movie-finder-a:hover {
    filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
}

#movie-finder-abt {
    position: absolute;
    color: #171717;
    font-family: "Halifax W03 Light";
    font-size: 20px;
    width: 400px;
    margin-top: 70px;
    margin-left: 160px;
}

#tmdb {
    color: #8E8F65;
}

@media only screen and (max-width: 599px) {
    .experience-container {
        transform: scale(0.6);
        margin-left: -300px;
    }
}