@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;1,300&display=swap');

.container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(23, 23, 23, 0.85);
}

#hex {
    height: 70px;
    width: 70px;
    margin-left: 40px;
    margin-top: 10px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(4%) saturate(3446%) hue-rotate(23deg) brightness(79%) contrast(65%);
    transition: transform 0.2s ease;
}

#hex:hover {
    transform: scale(1.2);
}

.header-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -50px;
    margin-right: 40px;
    color: #a8b2d1;
    font-family: "Red Hat Mono";
    font-size: 8px;
}

.header-container h1 {
    margin-right: 20px;
    transition: color 0.3s;
}

.header-container h1:hover {
    color: #3A5261;
}

.header-number {
    color: #8E8F65;
}

.header-text {
    cursor: pointer;
}

@media only screen and (max-width: 599px) {
    #hex {
        margin-left: -1px;
    }

    .header-container {
        transform: scale(0.7);
        margin-left: 390px;
        margin-top: -60px;
    }
}